# --- Django Production Settings ---
DEBUG=False
SECRET_KEY=yoting_oz_maxfiy_kalitingiz_bu_yerda
ALLOWED_HOSTS=samirbek.uz,www.samirbek.uz,your_server_ip

# --- Database ---
DATABASE_URL=sqlite:///db.sqlite3

# --- Security ---
CSRF_TRUSTED_ORIGINS=https://samirbek.uz,https://www.samirbek.uz
